@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: white;
  --color-sub-bg: #eee;
  --color-darker: #ddd;
  --color-text: black;
}

html {
  box-sizing: border-box;
}

.dark {
  --color-bg: black;
  --color-sub-bg: #222;
  --color-darker: #333;
  --color-text: white;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 300ms ease-in-out, color 300ms ease;
}

body * {
  font-family: Goyang;
}

button {
  background: none;
  border: none;
  color: var(--color-text);
}

ul {
  padding: 0;
}

li {
  appearance: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  position: relative;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: var(--color-sub-bg);
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchNoResult {
  font-size: x-large;
  text-align: center;
  margin-top: 7em;
}

.DarkMode {
  font-size: larger;
  margin-bottom: 0.5rem;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
  border: none;
  background: var(--color-sub-bg);
  color: var(--color-text);
}

.RecentKeywords {
  margin: 1em 0em;
}

.RecentKeywords .keyword {
  display: inline;
  margin: 0.5em;
  padding: 0.1rem 1rem;
  font-size: larger;
  background-color: var(--color-darker);
  border-radius: 9999px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 300ms;
}

.ImageInfo.fade-out {
  animation: fade-out 300ms;
  animation-fill-mode: forwards;
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg);
  border: 1px solid var(--color-sub-bg);
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

.Loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@media only screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .ImageInfo .content-wrapper {
    left: 0%;
    transform: translate(0%, -50%);
  }
}

@media only screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
